<h1>{{title}}</h1>

<form #form="ngForm" (onSubmit)="updateMessage(form)" novalidate>
  <input type="text" name="rootMessage" [(ngModel)]="rootMessage">
  <button type="submit">Update</button>
  <button (click)="toggle()">Hide/Show Child </button>
</form>
<app-child *ngIf="displayChild" [message]="rootMessage"></app-child>
<app-child [message]="rootMessage"></app-child>

<h1>Diretivas</h1>

<hr>

<div class="container-fluid">



<h2>Alterar Cor do Marca Texto</h2>
<div>
  <input type="radio" name="colors" (click)="color='lightgreen'">Green
  <input type="radio" name="colors" (click)="color='yellow'">Yellow
  <input type="radio" name="colors" (click)="color='cyan'">Cyan
</div>
<div>
  <input type="radio" name="fontSizes" (click)="fontSize='15px'">15px
  <input type="radio" name="fontSizes" (click)="fontSize='25px'">25px
  <input type="radio" name="fontSizes" (click)="fontSize='35px'">35px
</div>

<p [appChangeColor]="color" [appChangeSize]="fontSize">Marcando o Texto</p>



